body{
    background: #4ef526;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
.container div{
    background: antiquewhite;
    margin: 20px;
    padding: 2px;
    height: 300px;
}
.container1{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25% ;
}
.container1 div{
    background: antiquewhite;
    margin: 20px;
    padding: 2px;
    height: 300px;
}

